/*

File structure:
1. Fonts
2. Default rules
3. Header
4. Intro section
5. Service we offer section
6. How we work section
7. For whom section
8. Resources section
9. Industries section
10. Technologies section
11. Connect experts
12. Footer
13. Contact us modal
14. Media
15. Mobile menu

*/


// [1] Fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// font-family: 'Roboto', sans-serif;

@font-face {
    font-family: Galano Grotesque;
    src: url("../fonts/Heading.otf") format("opentype");
}

// [2] Default rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Galano Grotesque';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.animateOnScroll {
    animation-duration: 1s;
    visibility: hidden;

    &.animated {
        visibility: visible;
    }
}

.display--none {
    display: none;
}

.content {
    width: 1088px;
    margin: 0 auto;
}

.content--slider {
    width: 1312px;
    margin: 0 auto;
}

// [3] Header
.mobile-menu-burger {
    display: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: flex;
    padding: 16px 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    .mobile-menu-burger {
        svg {
            rect {
                fill: #222A5A;
            }
        }
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: stretch;

    a {
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .btn--contact-us {
        margin-left: 20px;
    }
}

.menu-link {
    color: #343C6A;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: .1s;
    position: relative;

    &:hover {
        color: #222A5A;

        span::before {
            height: 2px;
        }
    }

    span::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 4px;
        display: block;
        width: calc(100% - 40px + 10px);
        height: 0;
        background: #222A5A;
        border-radius: 100px;
        z-index: -1;
        transition: .05s;
    }
}

.btn--contact-us {
    display: flex;
    align-items: center;
    padding: 12px;
    background: transparent;
    border-radius: 4px;
    border: 2px solid #222A5A;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #222A5A;
    cursor: pointer;
    transition: .05s;

    svg {
        margin-left: 8px;
        transition: .1s;

        path {
            fill: #222A5A;
        }
    }

    &:hover {
        background: #222A5A;
        color: white;

        svg {
            transform: translateX(4px);

            path {
                fill: white;
            }
        }
    }
}

.header--top {
    box-shadow: 0 0 0 transparent;
    background: transparent;

    .mobile-menu-burger {
        svg {
            rect {
                fill: white;
            }
        }
    }

    .website-logo {
        filter: #{"saturate(0) brightness(0) invert()"};
    }

    .menu-link {
        color: white;

        span::before {
            background: white;
        }

        &:hover {
            color: white;
        }
    }

    .btn--contact-us {
        border: 2px solid white;
        color: white;

        svg {
            path {
                fill: white;
            }
        }

        &:hover {
            background: white;
            color: #222A5A;

            svg {
                path {
                    fill: #222A5A;
                }
            }
        }
    }
}

// [4] Intro section
.intro-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
    // background: url("../images/backgrounds/intro-bg.jpg");
    background-size: cover;
    min-height: 500px;
    height: 100vh;

    video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-position: 30vw -5vw;
        filter: hue-rotate(220deg);
        background: black;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        // background: #403e5fc5;
        background: rgba(0, 0, 0, 0.55);
        // backdrop-filter: blur(10px);
    }
}

// @media screen and (max-width: 1185px) {
//     .intro-section {
//         video {
//             object-position: 20vw -5vw;
//         }
//     }
// }

// @media screen and (max-width: 767px) {
//     .intro-section {
//         video {
//             object-position: center;
//         }
//     }
// }

.scroll-down {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url("../images/icons/scroll-white.svg");
    background-size: contain;
    background-position: center;
    position: absolute;
    bottom: 19px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.intro__text {
    max-width: 700px;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 56px;
        letter-spacing: 0.2px;
        color: white;
    }

    p {
        margin-top: 40px;
        font-size: 24px;
        letter-spacing: 0.3px;
        color: white;
    }

    .btn--quote {
        margin-top: 93px;
    }
}

.btn--quote {
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 112%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background: #222A5A;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: .1s;

    svg {
        margin-left: 8px;
        transition: .1s;
    }

    &:hover {
        background: white;
        color: #222A5A;
        // outline: 2px solid #222A5A;

        svg {
            transform: translateX(4px);
        }

        svg path {
            fill: #222A5A;
        }
    }
}

// [5] Service we offer section
.services-section {
    padding: 80px 12px 92px 12px;
    background: linear-gradient(360deg, rgba(158, 153, 227, 0.25) 24.49%, rgba(0, 0, 0, 0) 90%), #000000;
}

.services-section__content {
    display: flex;
    flex-direction: column;

    .services-section__table {
        margin-top: 72px;
    }

    .section__title {
        color: white;
    }
}

.section__title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #373F41;
}

.services-section__table {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__images {
    position: relative;
}

.services__image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .05s;
}

.services__image--mobile {
    width: 60%;
    display: none;
    margin-bottom: 24px;
}

.active-service {
    position: relative;
    opacity: 1;
}

.services__list {
    max-width: 406px;
    display: flex;
    flex-direction: column;
}

.services__item {
    &:not(:first-child) {
        margin-top: 56px;
    }

    &:nth-child(3) {
        margin-top: 37px;
    }

    // &:hover {
    //     box-shadow: 0 0 0 16px rgba(237, 236, 255, 0.14);
    //     background: rgba(237, 236, 255, 0.14);
    // }

    &.serviceImgChanged {
        box-shadow: 0 0 0 16px rgba(237, 236, 255, 0.14);
        background: rgba(237, 236, 255, 0.14);
    }

    span {
        position: relative;
        font-family: "Galano Grotesque";
        text-decoration: none;
        font-size: 32px;
        line-height: 100%;
        font-weight: bold;
        color: white;
        cursor: default;
        transition: .05s;

        &::before {
            content: "";
            position: absolute;
            right: calc(100% + 8px);
            top: -6px;
            width: 50px;
            height: 50px;
            background: url('../images/icons/arrow-small-right.svg');
            filter: brightness(0) #{"invert()"};
            background-repeat: no-repeat;
            background-position: center;
            transition: .1s;
            opacity: 0;
        }

        // &:hover, &.serviceImgChanged {

        //     &::before {
        //         right: 100%;
        //         opacity: 1;
        //     }
        // }
    }

    p {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 300;
        color: white;
    }
}

// [6] How we work section
.how-work-section {
    padding: 80px 12px 100px 12px;

    .how-work__scheme {
        margin-top: 56px;
    }
}

.how-work__scheme {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 4px;
        height: calc(100% - 70px);
        background: #E6E6E6;
    }
}

.scheme__col {
    display: flex;
    flex-direction: column;
}

.scheme__item__node {
    pointer-events: none;
}

.scheme__item__node {
    display: flex;
    align-items: center;
    width: calc(1088px / 2 - 406px + 9px);

    .scheme__item__node__rope {
        width: 100%;
        border-top: 4px dashed #CDCDCD;
    }

    .scheme__item__node__anchor {
        margin-left: 16px;
        width: 42px;
        height: 42px;
        background: #C5C0FC;
        border: 9px solid #EDECFF;
        border-radius: 100%;
        flex-shrink: 0;
        transition: .05s;
    }
}

.scheme__col--left {
    .scheme__item__node {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(100% + 16px);

        .scheme__item__node__anchor {
            margin-left: 16px;
        }
    }
}

.scheme__col--right {
    padding-top: 228px;

    .scheme__item__node {
        flex-direction: row-reverse;
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(-16px - (1088px / 2 - 406px + 9px));

        .scheme__item__node__anchor {
            margin-left: 0;
            margin-right: 16px;
        }
    }
}

.scheme__col--mobile {
    display: none;
}

.scheme__item {
    position: relative;
    max-width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 36px 44px 36px;
    box-shadow: 0 0 0 2px rgba(158, 153, 227, 0.15);
    border-radius: 12px;
    transition: .05s;
    text-decoration: none;

    &:not(:first-child) {
        margin-top: 164px;
    }

    &:hover {
        box-shadow: 0 0 0 4px #9E99E3;

        &::before {
            color: #9E99E3;
        }

        .scheme__link {
            // opacity: 1;
            // pointer-events: all;
        }

        .scheme__item__node__anchor {
            background: #9E99E3;
        }
    }

    &::before {
        content: attr(data-id);
        position: absolute;
        top: 0;
        left: 16px;
        color: #EDECFF;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 156px;
        line-height: 0%;
        transition: .05s;
    }

    h3 {
        margin: 14px 0 16px 0;
        font-size: 22px;
        line-height: 109%;
        text-transform: uppercase;
        color: #373F41;
    }

    p {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #373F41;
    }
}

.scheme__link {
    position: absolute;
    bottom: -36px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9E99E3;
    padding-left: 0px;
    transition: .05s;
    opacity: 0;
    pointer-events: none;
}

// [7] For whom section
.for-whom-section {
    padding: 80px 12px 56px 12px;
    background: linear-gradient(148.53deg, rgba(158, 153, 227, 0.25) 32.15%, rgba(255, 255, 255, 0) 71.27%), #000000;

    .slick-slider {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .slick-slide {
            display: flex;
        }

        .slick-list {
            max-width: 1092px;
        }

        .slick-prev {
            svg {
                transform: rotate(180deg);
            }
        }

        .slick-arrow {
            width: 72px;
            height: 72px;
            border-radius: 100%;
            background: transparent;
            border: 2px solid #FFFFFF;
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: .05s;
            align-self: center;

            svg path {
                fill: white;
            }

            &:hover {
                background: white;

                svg path {
                    fill: #373F41;
                }
            }
        }

        .slick-dots {
            margin-top: 44px;
            width: 100%;
            display: flex;
            justify-content: center;
            list-style-type: none;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 56px;
                height: 32px;
                cursor: pointer;
            }

            .slick-active {
                button {
                    width: 32px;
                    height: 32px;
                    border: 8px solid white;
                    background: transparent;
                }
            }

            button {
                width: 16px;
                height: 16px;
                border-radius: 100%;
                color: transparent;
                font-size: 0;
                transition: .05s;
                background: transparent;
                border: 4px solid white;
                margin: 0 12px;
                cursor: pointer;
            }

            li:hover button {
                width: 32px;
                height: 32px;
                border: 8px solid white;
                background: transparent;
            }
        }
    }

    .section__title {
        color: white;
    }
}

.for-whom__carousel {
    margin-top: 32px;
}

.for-whom__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.for-whom__image {
    margin-left: 76px;
}

.for-whom__info {
    display: flex;
    flex-direction: column;
}

.for-whom__tag {
    display: flex;
    align-items: center;

    h4 {
        font-size: 32px;
        line-height: 156%;
        color: white;
    }
}

.for-whom__text {
    margin-top: 26px;
    display: flex;
    flex-direction: column;

    h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        line-height: 100%;
        font-weight: normal;
        color: white;
    }

    p {
        font-size: 20px;
        font-weight: 300;
        margin-top: 24px;
        color: white;
    }
}

.for-whom__read-more {
    margin-top: 24px;
    width: fit-content;
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 112%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    background: #222A5A;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    transition: .1s;

    svg {
        margin-left: 8px;
        transition: .1s;
    }

    &:hover {
        background: white;
        color: #222A5A;
        // outline: 2px solid #222A5A;

        svg {
            transform: translateX(4px);
        }

        svg path {
            fill: #222A5A;
        }
    }
}

// [8] Resources section
.resources-section {
    padding: 42px 12px 80px 12px;
    background: linear-gradient(360deg, rgba(158, 153, 227, 0.25) 27.29%, rgba(0, 0, 0, 0) 100%), #000000;
}

.resources-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section__title {
        color: white;
    }
}

.resources__description {
    position: relative;
    max-width: 672px;
    text-align: center;
    margin: 56px 0;
    font-weight: 300;
    font-size: 20px;
    color: white;

    // &::before {
    //     content: '“';
    //     position: absolute;
    //     top: -40px;
    //     left: -40px;
    //     font-size: 132px;
    //     font-weight: bold;
    //     color: #F0F0FB;
    // }

    // &::after {
    //     content: '“';
    //     position: absolute;
    //     top: -40px;
    //     right: -40px;
    //     font-size: 132px;
    //     font-weight: bold;
    //     color: #F0F0FB;
    // }
}

.resources__list {
    width: 100%;
    display: none;
    justify-content: space-between;
}

.resources__col {
    position: relative;
    max-width: 50%;
    padding: 24px 0;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 8px;
        width: 2px;
        height: 100%;
        background: #CDCDCD;
        z-index: -1;
    }
}

.resources__item {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    color: #373F41;

    &:not(:first-child) {
        margin-top: 24px;
    }
}

.resources__marker {
    margin-top: 4px;
    width: 18px;
    height: 18px;
    background: #9E99E3;
    border: 4px solid #EDECFF;
    border-radius: 100%;
    margin-right: 8px;
    flex-shrink: 0;
}

.resources__divider {
    flex-shrink: 0;
    margin-top: 12px;
    width: 18px;
    height: 0;
    border-top: 2px dashed #CDCDCD;
    margin-right: 8px;
}

.benefits-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    max-width: 938px;
}

.benefits-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 12px;
    transition: .1s;
}

@media screen and (max-width: 767px) {
    .benefits-list {
        grid-template-columns: 1fr 1fr;
        gap: 18px;
    }

    .benefits-list__item {
        padding: 18px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .benefits-list {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .benefits-list__item {
        padding: 8px;
        border-radius: 4px;
        border: 2px solid white;
        padding: 8px;
    }
}

// [9] Industries section
.industries-section {
    padding: 80px 12px;

    .industries__table {
        margin-top: 56px;
    }
}

.industries__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.industries__item {
    min-height: 380px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 2px rgba(123, 97, 255, 0.15);
    background: white;
    border-radius: 12px;
    transition: .05s;
    text-decoration: none;

    &:hover {
        box-shadow: 0 0 0 4px #9E99E3;

        .industry__link {
            // pointer-events: all;
            // opacity: 1;
        }
    }

    &:nth-child(1) {

        .industry__preview {
            background: url("../images/backgrounds/ecom.jpg");
            background-size: cover;
        }
    }

    &:nth-child(2) {

        .industry__preview {
            background: url("../images/backgrounds/edu.jpg");
            background-size: cover;
        }
    }

    &:nth-child(3) {

        .industry__preview {
            background: url("../images/backgrounds/hlth.jpg");
            background-size: cover;
        }
    }

    &:nth-child(4) {

        .industry__preview {
            background: url("../images/backgrounds/pexels-anna-nekrashevich.jpg");
            background-size: cover;
        }
    }
}

.industry__preview {
    display: flex;
    justify-content: center;
    padding: 80px 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    h2 {
        font-weight: bold;
        font-size: 54px;
        line-height: 100%;
        color: white;
    }
}

.industry__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 36px;

    p {
        margin-top: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 125%;
        color: #373F41;
        text-align: center;
    }
}

.industry__link {
    margin-top: -36px;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background: #9E99E3;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: .05s;
}

// [10] Technologies section
.technologies-section {
    padding: 80px 0;

    .technologies__table {
        margin-top: 38px;
    }
}

.technologies-section__content {
    width: 1112px;
}

.technologies__table {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        width: 4px;
        height: 100%;
        background: #E6E6E6;
    }
}

.technologies__categories {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 52px;
}

.technologies__category {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 8px;
    transition: .05s;
    font-family: "Galano Grotesque";
    font-size: 16px;
    line-height: 150%;
    color: #373F41;

    &:hover {
        border: 2px solid #9E99E3;
        background: #9E99E3;
        color: white;
        cursor: default;
    }
}

.technologies__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 24px;
}

.technologies__item {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-top: 16px;
        font-size: 20px;
        line-height: 100%;
        color: #373F41;
    }
}

.technology__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    &.technology__icon--smaller {
        img {
            width: 80%;
        }
    }
}

// [11] Connect experts
.connect-experts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 12px;
    background: linear-gradient(166.34deg, rgba(158, 153, 227, 0.25) 32.86%, rgba(0, 0, 0, 0) 113.19%), #000000;

    h1 {
        margin-bottom: 56px;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0.1px;
        text-transform: uppercase;
        color: white;
    }
}

.btn--touch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 64px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    transition: .05s;
    background: transparent;
    cursor: pointer;

    span {
        font-weight: bold;
        font-size: 16px;
        line-height: 112%;
        color: white;
        letter-spacing: 0.3px;
        text-transform: uppercase;
    }

    svg {
        margin-left: 8px;
        transition: .1s;
    }

    &:hover {
        background: white;

        span {
            color: #373F41;
        }

        svg {
            transform: translateX(4px);

            path {
                fill: #373F41;
            }
        }
    }
}

// [12] Footer
footer {
    padding: 24px 12px 29px 12px;
    background: #F5F7FD;
}

.footer__content {
    display: flex;
    flex-direction: column;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-grow: 1;

        &:last-child {
            padding: 0 0 0 20px;
        }
    }

    .menu-link {
        z-index: 2;

        span::before {
            background: #222A5A;
            bottom: -2px;
        }

        &:last-child {
            span::before {
                width: calc(100% - 20px + 10px);
                left: 15px;
                margin: 0;
            }
        }
    }
}

.footer__bottom {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 150%;
    color: #343C6A;

    a {
        position: relative;
        text-decoration: none;
        color: #343C6A;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            transition: .05s;
            background: #343C6A;
        }

        &:hover::before {
            height: 1px;
        }
    }
}

// [13] Contact us modal
.no-scroll {
    overflow: hidden;
}

.contact-us-modal {
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .1s;

    &.active {
        display: flex;
    }

    &.changeModalOpacity {
        opacity: 1;
    }
}

.contact-us-modal__content {
    position: relative;
    max-width: 528px;
    min-height: 100px;
    padding: 24px 64px 34px 64px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.29);
}

.contact-us-modal--progress {
    padding: 72px 64px;
}

.contact-us-modal--result {
    padding: 72px 0;
    text-align: center;
}

.contact-us-modal--error {
    padding: 72px 0;
    text-align: center;

    a {
        color: #222A5A;
    }
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal__title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #373F41;
}

.modal__description {
    margin-top: 24px;
    font-size: 16px;
    line-height: 137%;
    text-align: center;
    color: #373F41;
}

.contact-us-modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        span {
            color: #373F41;
            font-weight: bold;
            margin-bottom: 6px;
        }

        em {
            color: red;
        }

        input[type="text"],
        input[type="email"] {
            font-size: 16px;
            padding: 10px;
            background: #FFFFFF;
            border: 1px solid #DADADA;
            border-radius: 4px;
            color: #373F41;
            border: 0;
            box-shadow: 0 0 0 1px #DADADA;
            transition: .05s;

            &::placeholder {
                color: hsla(0, 0%, 74%, 1);
            }

            &:focus {
                border: 0;
                outline: 0;
                box-shadow: 0 0 0 2px #9E99E3;
            }
        }

        textarea {
            font-size: 16px;
            min-height: 82px;
            max-height: 140px;
            padding: 10px;
            background: #FFFFFF;
            border: 1px solid #DADADA;
            border-radius: 4px;
            color: #373F41;
            border: 0;
            box-shadow: 0 0 0 1px #DADADA;
            transition: .05s;
            resize: vertical;

            &::placeholder {
                color: hsla(0, 0%, 74%, 1);
            }

            &:focus {
                border: 0;
                outline: 0;
                box-shadow: 0 0 0 2px #9E99E3;
            }
        }
    }

    .checkbox-label {
        position: relative;
        display: flex;
        flex-direction: row;
        user-select: none;
        cursor: pointer;
        margin-top: 8px;

        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 16px;
            width: 16px;
            background-color: transparent;
            margin: 0;
            border-radius: 4px;
            border: 2px solid #BDBDBD;
            transition: .05s;
        }

        /* On mouse-over, add a grey background color */
        input:hover~.checkmark {
            background-color: #BDBDBD;
        }

        /* When the checkbox is checked, add a blue background */
        input:checked~.checkmark {
            border: 2px solid #9E99E3;
            background-color: #9E99E3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        input:checked~.checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .checkmark:after {
            left: 4px;
            top: 1px;
            width: 3px;
            height: 6px;
            border: solid white;
            border-width: 0 2.5px 2.5px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        p {
            margin-left: 26px;
            font-size: 16px;
            line-height: 137%;
            color: black;
        }
    }

    p {
        font-size: 16px;
        line-height: 137%;
        color: #373F41;
    }

    .form__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;

        #cancelForm {
            background: transparent;
            border: 2px solid #373F41;
            border-radius: 8px;
            padding: 16px 24px;
            font-size: 16px;
            font-weight: bold;
            line-height: 112%;
            color: #373F41;
            text-transform: uppercase;
            transition: .05s;
            cursor: pointer;

            &:hover {
                background: #373F41;
                color: white;
            }
        }

        #sendContUsForm {
            border-radius: 8px;
            padding: 16px 24px;
            font-size: 16px;
            font-weight: bold;
            line-height: 112%;
            color: white;
            text-transform: uppercase;
            transition: .05s;
            border: 0;
            background: #222A5A;
            cursor: pointer;

            &:not(:disabled):hover {
                background: #9E99E3;
            }

            &:disabled {
                cursor: not-allowed;
                background: #373F41;
            }
        }
    }
}

// [14] Media
@media screen and (max-width: 1385px) {
    .slick-arrow {
        display: none !important;
    }

    .for-whom__carousel {
        flex-direction: column;
        align-items: center;
    }

    .for-whom-section .slick-slider .slick-list {
        max-width: 100%;
    }

    .content--slider {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .content {
        width: 100%;
    }

    .scheme__item__node {
        width: calc(((100vw - 48px) / 2) - 406px + 9px);
    }

    .scheme__col--right {
        .scheme__item__node {
            left: calc(-16px - (((100vw - 48px) / 2) - 406px + 9px));
        }
    }

    .intro-section {
        padding: 0 32px;
    }

    .services-section {
        padding: 80px 24px 92px 24px;
    }

    .how-work-section {
        padding: 80px 24px 100px 24px;
    }

    .for-whom-section {
        padding: 80px 24px 56px 24px;
    }

    .resources-section {
        padding: 42px 24px 80px 24px;
    }

    .industries-section {
        padding: 80px 24px;
    }

    .technologies-section {
        padding: 80px 24px;
    }

    .technologies__list {
        column-gap: 12px;
    }

    .technologies__categories {
        column-gap: 12px;
        row-gap: 12px;
    }

    .technologies__category {
        flex-grow: 1;
    }

    footer {
        .menu-link span::before {
            width: calc(100% - 40px);
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        padding: 16px 24px;

        .header__nav {
            display: none;
        }

        .mobile-menu-burger {
            display: block;
        }


    }

    .menu-link {
        span::before {
            width: calc(100% - 20px);
        }
    }

    .section__title {
        font-size: 32px;
    }

    .services-section__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services__images {
        display: none;
    }

    .services__image--mobile {
        display: block;
    }

    .services__list {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
        justify-content: start;
    }

    .services__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        span {
            font-size: 24px;
        }

        span:hover {

            &::before {
                display: none;
            }
        }

        &:not(:first-child) {
            margin-top: 0;
        }
    }

    .how-work__scheme {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .scheme__col {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    .scheme__col--mobile {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 48px;
    }

    .scheme__item {
        max-width: unset;
        justify-content: center;

        h3 {
            text-align: center;
        }

        &:not(:first-child) {
            margin-top: 0;
        }

        &::before {
            font-size: 72px;
        }
    }

    .scheme__item__node {
        display: none;
    }

    .for-whom__info {
        max-width: 600px;
    }

    .for-whom__item {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .for-whom__image {
        max-width: 320px;
        margin-left: 0;
        margin-bottom: 32px;
        ;
    }

    .for-whom__tag {
        justify-content: center;

        h4 {
            font-size: 24px;
        }
    }

    .for-whom__text {
        h3 {
            font-size: 24px;
        }
    }

    .for-whom__read-more {
        margin: 24px auto 0 auto;
    }

    .resources__item {
        font-size: 16px;
    }

    .resources__divider {
        margin-top: 10px;
    }

    .industries__item {
        min-height: unset;
    }

    .industry__preview {
        padding: 48px 12px;

        h2 {
            font-size: 32px;
        }
    }

    .industry__text {
        padding-bottom: 24px;
    }

    .industry__link {
        display: none;
    }

    .technologies__list {
        column-gap: 0;
        justify-content: space-evenly;
    }

    .footer__top {
        display: flex;
        flex-direction: column;
        align-items: center;

        .website-logo {
            margin-bottom: 32px;
        }
    }

    .footer__bottom {
        margin-top: 48px;
        display: flex;
        flex-direction: column-reverse;

        p {
            margin-top: 12px;
        }
    }
}

@media screen and (max-width: 767px) {
    .services-section {
        padding: 40px 24px 40px 24px;
    }

    .how-work-section {
        padding: 40px 24px 40px 24px;
    }

    .for-whom-section {
        padding: 40px 24px 40px 24px;
    }

    .resources-section {
        padding: 40px 24px 40px 24px;
    }

    .industries-section {
        padding: 40px 24px;
    }

    .technologies-section {
        padding: 40px 24px;
    }

    .contact-us-modal {
        overflow-y: auto;
        align-items: flex-end;
    }

    .modal-close {
        top: 12px;
        right: 12px;
    }

    .contact-us-modal__content {
        padding: 32px 24px 24px 24px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .modal__title {
        font-size: 18px;
    }

    .modal__description {
        margin-top: 8px;
        font-size: 12px;
    }

    .contact-us-modal__form {
        label {
            margin-bottom: 8px;

            span {
                font-size: 12px;
            }

            input[type="text"],
            input[type="email"] {
                font-size: 12px;
                padding: 8px;
            }

            textarea {
                font-size: 12px;
                padding: 8px;
                resize: none;
            }
        }

        .checkbox-label {
            .checkmark {
                top: 0;
            }

            p {
                font-size: 12px;
            }
        }

        p {
            font-size: 14px;
        }

        .form__buttons {
            #cancelForm {
                font-size: 14px;
            }
        }
    }

    header {
        .website-logo {
            max-width: 120px;
        }
    }

    .intro__text {

        h1 {
            font-size: 24px;
        }

        p {
            margin-top: 18px;
            font-size: 16px;
        }

        .btn--quote {
            padding: 16px 18px;
            margin-top: 32px;
        }
    }

    .scroll-down {
        display: none;
    }

    .services-section__content .services-section__table {
        margin-top: 48px;
    }

    .services__image--mobile {
        margin-bottom: 12px;
    }

    .services__list {
        grid-template-columns: 1fr;
        row-gap: 24px;
    }

    .scheme__col--mobile {
        grid-template-columns: 1fr;
    }

    .scheme__item {
        padding: 20px 24px 24px 24px;
    }

    .for-whom__image {
        max-width: 100%;
        margin-bottom: 12px;
    }

    .for-whom__tag {
        h4 {
            font-size: 16px;
            line-height: 100%;
        }
    }

    .for-whom__text {
        margin-top: 4px;

        h3 {
            font-size: 18px;
        }

        p {
            margin-top: 12px;
            font-size: 16px;
        }
    }

    .for-whom__carousel {
        margin-top: 12px;
    }

    .for-whom-section .slick-slider .slick-dots {
        margin-top: 18px;
    }

    .for-whom__read-more {
        margin: 12px auto 0 auto;
        font-size: 12px;

        svg {
            width: 16px;
        }
    }

    .resources__list {
        flex-direction: column;
    }

    .resources__description {
        font-size: 18px;
        margin: 32px 0;

        &::before,
        &::after {
            display: none;
        }
    }

    .resources__col {
        padding: 0;
        max-width: 100%;

        &::before {
            display: none;
        }

        &:last-child {
            margin-top: 8px;
        }
    }

    .resources__item {
        padding: 8px;

        &:nth-child(odd) {
            border: 2px solid #EDECFF;
            background: #F5F7FD;
        }

        &:nth-child(even) {
            border: 2px solid #e6e5fc;
            background: #EDECFF;
        }

        .resources__marker {
            margin-top: 0;
        }

        .resources__divider {
            display: none;
        }

        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    .industries__table {
        grid-template-columns: 1fr;
    }

    .industry__text {
        padding: 0 18px 18px 18px;
    }

    .technologies__table {
        display: flex;
        flex-direction: column;
        column-gap: 0;

        &::before {
            display: none;
        }
    }

    .technologies__categories {
        display: flex;
        justify-content: center;
        column-gap: 8px;
        margin-bottom: 24px;
        row-gap: 8px;
    }

    .technologies__category {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 8px;
        font-size: 12px;
        flex-grow: 1;
    }

    .technologies__list {
        column-gap: 12px;
    }

    .technologies__item {
        min-width: unset;

        .technology__icon {
            width: 64px;
            height: 64px;

            img {
                width: 100%;
            }
        }

        span {
            display: none;
        }
    }

    .connect-experts {
        h1 {
            text-align: center;
            font-size: 32px;
        }
    }

    footer {
        padding: 24px 12px;

        .header__nav {
            flex-direction: column;
            align-items: center;

            .menu-link {
                margin-bottom: 12px;
                padding: 0;

                span::before {
                    width: 100%;
                }

                &:last-child {
                    span::before {
                        width: 100%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .footer__top {
        .website-logo {
            margin-bottom: 48px;
        }
    }
}

// [15] Mobile menu
.mobile-menu {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.55);
    z-index: 12;
    display: none;
}

.menu-active {
    display: flex;
}

.mobile-menu__content {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    background: white;
    padding: 72px 72px 72px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateX(100%);
    transition: .2s;

    &.menu-slide-in {
        transform: translateX(0);
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .menu-link {
            font-size: 32px;
            padding: 0;

            &:hover {
                color: #9E99E3;
            }

            span::before {
                display: none;
            }

            &:not(:first-child) {
                margin-top: 24px;
            }
        }

        .btn--contact-us {
            margin-top: 24px;
            font-size: 32px;
            border: 0;
            padding: 0;

            svg {
                width: 28px;
                height: 28px;
            }

            &:hover {
                background: transparent;
                color: #9E99E3;

                svg {
                    path {
                        fill: #9E99E3;
                    }
                }
            }
        }
    }
}

.mobile-menu__close {
    svg {
        width: 24px;
        height: 24px;

        rect {
            fill: #373F41;
        }
    }
}

.mobile-menu__mail {
    width: fit-content;
    font-size: 24px;
    font-weight: 500;
    color: #373F41;
    text-decoration: none;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 0;
        transition: .1s;
        background: #373F41;
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &:hover {
        &::before {
            height: 2px;
        }
    }
}

@media screen and (max-width: 630px) {

    .mobile-menu__content {

        .header__nav {
            .menu-link {
                font-size: 24px;
                padding: 0;
            }

            .btn--contact-us {
                font-size: 24px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
        }
    }

    .mobile-menu__mail {
        font-size: 12px;

        &:hover::before {
            height: 1px;
        }
    }
}

@media screen and (max-width: 420px) {
    .mobile-menu__content {
        padding: 32px 32px 32px 24px;
    }
}